{% extends "base.html" %}
{% load static %}
{% block content %}


<section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-outline card-info">
          <div class="card-header">
            <h3 class="card-title">
          </h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body" >
            <div class="container">
                <h2>DEPENDENCIAS</h2>
                <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">NUEVO +</button>
                <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">ELIMINAR</button>
            
                <table class="table table-bordered">
                  <thead>
                    <tr>
                        <th>Id Dependencia</th>
                        <th>Parroquia</th>
                        <th>Provincia</th>
                        <th>Cod de Distrito</th>
                        <th>Nombre de Distrito</th>
                        <th>Cod de Circuito</th>
                        <th>Nombre de Circuito</th>
                        <th>Cod de Subcircuito</th>
                        <th>Nombre de Subcircuito</th>
                    </tr>
                </thead>
                <tbody>
                  <!-- AQUÍ LOS DATOS DE TUS USUARIOS REGISTRADOS SERÍAN MOSTRADOS -->
                  {% for dependencia in dependencia  %}
                  <tr>
                      <td>{{dependencia.id_dependencia}}</td>
                      <td>{{dependencia.nro_distrito}}</td>
                      <td>{{dependencia.parroquia}}</td>
                      <td>{{dependencia.provincia}}</td>
                      <td>{{dependencia.cod_distrito}}</td>
                      <td>{{dependencia.nombre_distrito}}</td>
                      <td>{{dependencia.nro_circuito}}</td>
                      <td>{{dependencia.cod_circuito}}</td>
                      <td>{{dependencia.nombre_circuito}}</td>
                      <td>{{dependencia.nro_subcircuito}}</td>
                      <td>{{dependencia.cod_subcircuito}}</td>
                      <td>{{dependencia.nombre_subcircuito}}</td>
                  </tr>
                  {% endfor %}
              </tbody>
                </table>
            
                <!-- Modal -->
                <div id="myModal" class="modal fade" role="dialog">
                  <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Agregar Dependencia</h4>
                      </div>
                      <div class="modal-body">
                        <!-- AQUÍ LOS DATOS DE TUS USUARIOS REGISTRADOS SERÍAN MOSTRADOS -->
                        <form>
                          <div class="form-group">
                            <label for="nombre">PROVINCIA:</label>
                            <input type="text" class="form-control" id="nombre">
                          </div>
                          <div class="form-group">
                            <label for="apellido">PARROQUIA:</label>
                            <input type="text" class="form-control" id="apellido">
                          </div>
                          <div class="form-group">
                            <label for="cargo">DISTRITO:</label>
                            <input type="text" class="form-control" id="cargo">
                          </div>
                          <div class="form-group">
                            <label for="telefono">N° DISTRITO:</label>
                            <input type="text" class="form-control" id="telefono">
                          </div>
                          <div class="form-group">
                            <label for="nombre">COD.DISTRITO:</label>
                            <input type="text" class="form-control" id="nombre">
                          </div>
                          <div class="form-group">
                            <label for="apellido">CIRCUITO:</label>
                            <input type="text" class="form-control" id="apellido">
                          </div>
                          <div class="form-group">
                            <label for="cargo">N° CIRCUITO:</label>
                            <input type="text" class="form-control" id="cargo">
                          </div>
                          <div class="form-group">
                            <label for="telefono">COD.CIRCUITO:</label>
                            <input type="text" class="form-control" id="telefono">
                          </div><div class="form-group">
                            <label for="nombre">SUBCIRCUITO:</label>
                            <input type="text" class="form-control" id="nombre">
                          </div>
                          <div class="form-group">
                            <label for="apellido">N° SUBCIRCUITO:</label>
                            <input type="text" class="form-control" id="apellido">
                          </div>
                          <div class="form-group">
                            <label for="cargo">COD.SUBCIRCUITO:</label>
                            <input type="text" class="form-control" id="cargo">
                          </div>
                          <button type="submit" class="btn btn-default">Crear</button>
                          <button type="submit" class="btn btn-default">Cancelar</button>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                      </div>
                    </div>
                  </div>
                </div>
             </div>
            
             <script>
                $(document).ready(function() {
                  $('#table_id').DataTable();
                });
             </script>
          </div>
          <div class="card-footer">
            Lista del personal de la Policia SubZona 7 de Loja
          </div>
        </div>
      </div>
      <!-- /.col-->
    </div>
    <!-- ./row -->
  </section>


{% endblock%}
