<!DOCTYPE html>
<html>
<head>
   <title>Registro de estilos</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
   <div class="container">
     <h2>Registro de estilos</h2>
     <table class="table table-striped">
       <thead>
         <tr>
           <th>Nombre</th>
           <th>Estilo</th>
           <th>Editar</th>
           <th>Eliminar</th>
         </tr>
       </thead>
       <tbody>
         <tr>
           <td>Nombre Estilo 1</td>
           <td>Estilo 1</td>
           <td><button type="button" class="btn btn-warning">Editar</button></td>
           <td><button type="button" class="btn btn-danger">Eliminar</button></td>
         </tr>
         <tr>
           <td>Nombre Estilo 2</td>
           <td>Estilo 2</td>
           <td><button type="button" class="btn btn-warning">Editar</button></td>
           <td><button type="button" class="btn btn-danger">Eliminar</button></td>
         </tr>
         <tr>
           <td>Nombre Estilo 3</td>
           <td>Estilo 3</td>
           <td><button type="button" class="btn btn-warning">Editar</button></td>
           <td><button type="button" class="btn btn-danger">Eliminar</button></td>
         </tr>
       </tbody>
     </table>
   </div>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>